<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1618713415-2e1t1d2cedo3mnb8e6itgkt6n6slqv2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1618713415-2e1t1d2cedo3mnb8e6itgkt6n6slqv2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1618713415-0gs0c9e8d7ejehfecp7te7j8t91b9m28.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLP9SLgbUh6s9zrb9rN8hK2iJCg66SUvk</string>
	<key>GCM_SENDER_ID</key>
	<string>1618713415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signtalk</string>
	<key>PROJECT_ID</key>
	<string>signtalk-cb7eb</string>
	<key>STORAGE_BUCKET</key>
	<string>signtalk-cb7eb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1618713415:ios:ce000c065bac6a1f7c0a62</string>
</dict>
</plist>